
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} Employment {% endblock %}</title>
    {% include 'header.html' %}
</head>
<body>
{% block content %}
<div class="container-fluid" style="margin-top: 75px;">
{% include 'nav.html' %}
<div class="container">
    <div class="row">
    <div class="col-sm-12">
        <div class="card bg-danger text-white" style="height: 50px;">

    <div class="card-body" style="text-align:left; margin-top: -10px;">
        <h3>Employment history</h3>
    </div>
        </div>
    </div>
  </div>
</div>
<!-- A.S.O -->
<div class="row"> <div class="col-sm-12" style="background-color: white; margin-top: 10px;"></div></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7" style="background-color: rgb(0, 240, 162);">
                <h3 class="text-dark"><b>Asst. Store Officer</b></h3>
            </div>
            <div class="col-sm-5" style="background-color: rgb(0, 240, 162);">
                <h4 class="text-white">January 2015 to Till-Now</h4>
            </div>
        </div>
    </div>
<div class="row"> <div class="col-sm-12" style="background-color: white; margin-top: 10px;"></div></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color: DodgerBlue;">
                <h4 style="color: #17202a;">Organisation Name</h4>
                <h4 style="color:  white ;"><b>Prime Group of Industries</b></h4>
                <h4 style="color: #17202a ;">Organisation Type </h4>
                <h4 style="color: white;"><b>Textiles</b></h4>
                <h4 style="color: #17202a ;">Company Name</h4>
                <h4 style="color: white;"><b>Prime Composite Mills Ltd</b></h4>
                <h4 style="color: #17202a ;">Department </h4>
                <h4 style="color: White;"><b>Stock Control</b></h4>
                <h4 style="color: #17202a ;">Area of Works </h4>
                <h4 style="color: white;"`><b>Store and Spears, Yarn & Raw Materials</b></h4>

            </div>
            <div class="col-sm-6" style="background-color: DodgerBlue;">
                <h3 style="color: white; text-align: center"><b>Duties/Responsibilities:</b></h3>
                <p style="color: white;">* Stock taking and stock verification for foreign & local spare parts and raw materials checked it out by Invoice/P.O or Challan</p>
                <p style="color: white;">* Prepare S.P.R for demanding Materials by concern department.</p>
                <p style="color: white;">* Prepare M.R.R for receiving Materials.</p>
                <p style="color: white;">* Taken S.I.R by concern department for Issuing Materials.</p>
                <p style="color: white;">* Taken damaged or used Material with S.R.M by concern department then its storing or dispatch.</p>
                <p style="color: white;">* S.P.R, M.R.R, S.I.R, S.R.M all works are accomplished on PrimeApps software</p>
                <p style="color: white;">* Prepare delivery challan, Gate pass and its posted on software </p>
                <p style="color: white;">* Prepare Sales Return Memo and it posted on software</p>
                <p style="color: white;">* Daily, Month-To-Date, Monthly, Lot Wise, Summery report , Consumption report prepared on Microsoft Excel.</p>
                <p style="color: white;">* Delivery Finished goods, Waste goods & Scrap Material by given Delivery Order(D.O) from our Head Office</p>
                <p style="color: white;">* Godown Monitoring and its ensure that any kind of lot mixing for finished yarn.</p>

            </div>
        </div>
    </div>
<div class="row"> <div class="col-sm-12" style="background-color: white; margin-top: 10px;"></div></div>

    <!-- Store Keeper -->
<div class="row"> <div class="col-sm-12" style="background-color: white; margin-top: 10px;"></div></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7" style="background-color: rgb(0, 240, 162);">
                <h3 class="text-dark"><b>Store Keeper</b></h3>
            </div>
            <div class="col-sm-5" style="background-color: rgb(0, 240, 162);">
                <h4 class="text-white">November 2009 to December 2014</h4>
            </div>
        </div>
    </div>
<div class="row"> <div class="col-sm-12" style="background-color: white; margin-top: 10px;"></div></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="background-color: tomato;">
                <h4 style="color:  #1f618d ;">Organisation Name</h4>
                <h4 style="color:  white ;"><b>Prime Group of Industries</b></h4>
                <h4 style="color: #1f618d ;">Organisation Type </h4>
                <h4 style="color: white;"><b>Textiles</b></h4>
                <h4 style="color: #1f618d ;">Company Name</h4>
                <h4 style="color: white;"><b>Prime Composite Mills Ltd</b></h4>
                <h4 style="color: #1f618d ;">Department </h4>
                <h4 style="color: White;"><b>Stock Control</b></h4>
                <h4 style="color: #1f618d ;">Area of Works </h4>
                <h4 style="color: white;"><b>Store Yarn & Raw Materials</b></h4>

            </div>
            <div class="col-sm-6" style="background-color: tomato;">
                <h3 style="color: white; text-align: center"><b>Duties/Responsibilities:</b></h3>
                <p style="color: white;">* Stock Taking & Stock Verification.</p>
                <p style="color: white;">* Finished goods& waste goods received according to advice given by production department.</p>
                <p style="color: white;">* Finished goods & waste goods Delivery.</p>
                <p style="color: white;">* Prepare Challan and Gate pass.</p>
                <p style="color: white;">* Prepare Daily, Month-To-Date, Lotwise, Sales Return Memo & Monthly Statement prepare on Microsoft Spread Sheet Program.</p>

            </div>
        </div>
    </div>
<div class="row"> <div class="col-sm-12" style="background-color: white; margin-top: 10px;"></div></div>

<!-- FOOTER -->
<div class="row">
   <div class="col-sm-12">
        {% include 'footer.html' %}
   </div>
</div>
</div>
{% endblock %}
</body>
</html>


