{% load staticfiles %}
<html>
<head>
    <title>{% block title %}Contact - {% endblock %}</title>
    {% include 'header.html' %}
</head>
<body>
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-xl-9">
            <form id="contact-form" role="form" name="contact-form" action="" method="post">{% csrf_token %}

            {% csrf_token %}

            {{ form.as_p }}
                <button class="btn btn-info" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}</body>
</html>

